tmpdir = tmp
giturl = http://user:passwd@git.xxx.cn/user/repo.git
rootdir = /home/telegraf-url
telegraf = http://git.xxx.cn/user/telegraf-bin.git
influxdb = influxdb = http://localhost:8086
interval = 2
